*{
    margin: 0;
}


.label-font{
    position: relative;
    padding: 1.5rem 2rem;
    border: 3px solid #d8d8d8;
    border-radius: 10px;
    background: #f9f9f9;
}

.label-font:before {
    position: absolute;
    bottom: -14px;
    left: 1em;
    width: 0;
    height: 0;
    content: '';
    border-width: 14px 12px 0 12px;
    border-style: solid;
    border-color: #d8d8d8 transparent transparent transparent;
}

.label-font:after {
    position: absolute;
    bottom: -10px;
    left: 1em;
    width: 0;
    height: 0;
    content: '';
    border-width: 14px 12px 0 12px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
}


.buttons{
    margin: 0 auto 3%;
    padding: 2%;
}

.selectBox {
    position: relative;
}

.selectBox::before,
.selectBox::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectBox::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}

.selectBox::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectBox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.selectBox select:focus {
    outline: 2px solid #2589d0;
}


/* Form Style */
.form-group {
    margin-bottom: 15px;
    width: 40%;
}
.birthday {
    display: block;
    margin-bottom: 5px;
}
.name, .selects {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
/* button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
} */

.hidden {
    display: none;
}

.space{
    margin: 5%;
}